
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 .container {
    margin: auto;
    width: 80%;
    height: 80vh;
    background-color: var(--base-color);
    background: radial-gradient(circle, var(--base-color)0%, var(--accent-color)100%);
    background-image: radial-gradient(circle, var(--base-color)0%, var(--accent-color)100%);
 }


main div {
    overflow: hidden;
}
 header{
    border-bottom: var(--accent-border);
    font-family: var(--base-font);
 }
 
 header p{
    text-transform: uppercase;
    font-size: 100px;
    display: flex;
    justify-content: center;
    justify-items: center;
    font-weight: 300;
 }
 
 header p:nth-child(3) {
    text-transform: lowercase;
    font-style: oblique;
 }
.location {
    font-size: 25px;
    padding-left: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
     border-top: var(--base-border);
     border-right: var(--base-border);
     border-bottom: var(--base-border);
     font-family: var(--accent-font);
     text-align: center;
 }
 .time , .introduction {
    font-family: var(--base-font);
     display: flex;
     justify-content: center;
     align-items: center;  
 }
.time {
    border: var(--base-border);
    flex-direction: column;
    writing-mode: vertical-rl;
    font-size: 20px;
    padding: 10px;
 }
 .introduction{
    font-size: 30px;
    display: flex;
    flex-direction: column;
    font-weight: 300;
    border-top: var(--base-border);
    border-left: var(--base-border);
    border-bottom: var(--base-border);
 }
 .introduction p span:first-child{
    font-weight: bold;
 }
.title {
    border-top: var(--base-border);
    border-bottom: var(--base-border);
    font-family: var(--base-font);
    font-size: 45px;
    font-weight: 800;
}
.dato{
    padding: 0;
    display: flex;
    flex-direction: column;
    border-top: var(--base-border);
    border-right: var(--base-border);
    border-left: var(--base-border);
 }
.dato p:first-child{
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 20px;
    font-family: var(--base-font);
 }

.dato p:nth-child(2) {
    /* padding-bottom: 40px; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 35px;
    font-family: var(--base-font);
    font-weight: bold;
 }
 .dato p:nth-child(3){
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 20px;
    padding-top: 50px;
 }
.normal-font{
  font-weight: normal; 
  font-size: 20px;

 }
.design-font {
    display: flex;
    flex-direction: column;   
    font-size: 50px;
 } 

.dato p:nth-child(4) {
    font-family: var(--accent-font);
    font-size: 25px;
    padding-top: 50px;
    /* padding-bottom: 20px; */
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: flex-end;
 }

 .title, .subjects {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     padding-top:20px;
     padding-bottom: 20px;
 }


.subjects{
    /* padding-top: 0; */
    text-transform: uppercase;
    font-family: var(--base-font);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    width: 200px;
    height: fit-content;
    align-items: center;
    font-size: 15px;
    padding-right: 30px;
    /* background-color: brown; */
    
}
.subjects p:nth-child(1) {
    /* background-color: brown; */
    font-family: var(--base-font);
    font-style: italic;
    font-size: 25px;
    padding-bottom: 20px;
    text-transform: lowercase;
    padding-left: 10px;
    text-align: center;
}

.links {
    display: flex;
    border-top: var(--base-border);
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    width:200px;
    height: fit-content;
    align-items: center;
    padding-left: 30px;
    /* padding: 20px; */
    font-size: 15px;
}
.links p:first-child {
    font-family: var(--base-font);
    font-style: italic;
    font-size: 25px;
    padding-top: 40px;
    padding-bottom: 30px;
    text-align: center;
}

.links ul,.subjects ul{
    list-style: none;
    text-align: center;
    border-bottom: var(--base-border); 
}

.links ul li a {
    text-decoration: none;
    color: black;
    font-family: var(--base-font); 
    font-size: 15px;
    /* padding: 10px; */
}

.links ul li a:hover{
    color: var(--base-color);
}

.empty {
    border-bottom: var(--base-border);
    height: 30px;
}

.address-left {
    padding: 10px;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: var(--base-border);
    border-bottom: var(--accent-border);

} 
.address-right{
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 10px; 
    font-weight: 300;
    border-bottom: var(--accent-border);
} 



@media screen and (max-width: 600px){
      main{width: 80%;}
      .dato{
        background-color: var(--circle-color);
        mix-blend-mode: multiply;
      }  
      .address-left{
        border-top: var(--base-border);
      }
      .address-right{
        border-bottom: var(--base-border);
      }
}

