.circle {

    grid-row: 2/7;
    grid-column: 4/-4;
    z-index: -10;
    width: 450px;
    height: 450px;
    background-color: var(--circle-color);
    mix-blend-mode: multiply;
    border-radius: 100%;
    /* position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -70%); */
}
@media screen and (max-width: 600px){
    .circle{
       display: none;
    }
    
}