 /* size
 grid */

main{
   display: grid;
   grid: auto /repeat(9,1fr);
}


.location{
   grid-column: 1/5;
   grid-row: 1/span 2;
 }
 .time{
   grid-column:5/6;
   grid-row: 1/span 2;
 }
 
 .introduction{ 
   grid-column: 6/-1;
   grid-row: 1/span 2;
 }

.title{
   grid-column: 1/-1;
   grid-row: 3/span 1;
}
.subjects{
   grid-column: 1/3;
   grid-row: 4/span 3;
}

 .dato{
  grid-column: 3/8;
  grid-row: 4/span 3;
}
.links{
   grid-row: 4/ span 3;
   grid-column: 8/-1;
}

.empty{
   grid-row: 7/span 1;
   grid-column: 1/-1;
}

.address-left{
   grid-row: 8/span 1;
   grid-column: 1/6;
}
.address-right{
   grid-row: 8/span 1;
   grid-column: 6/-1;
}



@media screen and (max-width: 600px) {
 
   .dato{
      grid-column: 1/-1;
      grid-row: 4/span 4;
   }
   .subjects{
      grid-column: 1/-1;
      grid-row: 8/ span 4;
   }
   .links{
      grid-column: 1/-1;
      grid-row: 12/ span 4;
      
   }
   .empty{
      grid-column: 1/-1;
      grid-row: 16/span 1;
   }
   .address-left {
      grid-column: 1/-1;
     grid-row: 17/span 1;
   }
   .address-right{
      grid-column: 1/-1;
      grid-row: 18/span 1;
   }
   

} 