*{
   background-color: #d0e2dd;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
.first-part{
    border-bottom: 1px double black;
    font-family: 'Cormorant', serif;
}



.parag-first-part{
    text-transform: uppercase;
    font-size: 70px;
    display: flex;
    justify-content: center;
    justify-items: center;
    font-weight: 300;
}
.parag-first-part:nth-child(3) {
    text-transform: lowercase;
    font-style: oblique;
}
.second-part {
    display: grid;
    grid-template-columns: 45% 10% 45%;
}
div.second-part div:nth-child(1) {
    grid-column: 1/2;
    border: 1px solid black;
    padding-top: 40px;
    padding-bottom: 20px;
    /* padding-right: 20px; */
    padding-left: 150px;
    font-family: 'Dancing Script', cursive;
}
div.second-part div:nth-child(2) {
    grid-column: 2/3;
    border: 1px solid black;
    writing-mode: vertical-rl;
    display: flex;
    align-items: center;
}
div.second-part div:nth-child(3) {
    grid-column: 3/4;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.third-part, .fourth-part, .fifth-part {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding-top: 50px;
    padding-bottom: 50px;
}
.fourth-part, .fifth-part {
    flex-direction: column;
}
